/*
SFU Colors
SFU Red:    #A6192E
dark Red    #7A161d
SFU Grey:   #54585A
SFU Blue:   #007096
SFU Gold:   #C1A01E
SFU darkgrey: #777
lightgrey: #F8F8F8
*/

/*=========home page=============*/
.introsection {
  margin-top: .5rem;
}
.introsection p{
  margin: 0;
}



/*=========people page=============*/
.studentstile_container {
  display: flex;
  flex-flow: row wrap;

}

.studentstile{
  flex: 0 1 50%;
}
/*=========research page=============*/
.research_container{
  margin-bottom: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .studentstile{
    flex: 0 1 33%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .studentstile{
    /* flex: 1 1 20%; */
    flex: 0 1 20%;
    justify-content: space-between;
  }
}
