/*
SFU Colors
SFU Red:    #A6192E
SFU Grey:   #54585A
SFU Blue:   #007096
SFU Gold:   #C1A01E
*/

/*=========home page=============*/
/* .introsection {
  margin-right: 1rem;
  margin-left: 1rem;
} */



/*=========people page=============*/
.studentstile_container {
  display: flex;
  flex-flow: row wrap;
}

.studentstile{
  flex: 1 1 45%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .studentstile{
    flex: 1 1 30%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .studentstile{
    flex: 1 1 20%;
  }
}
