.container {
  background-color: silver;
  border-radius: .5rem;
  margin: .5rem;
  flex: 1 1 100%;
}
.image{
  border-radius: .5rem;
}
.text {
  padding: 1rem;
}
.text h2{
  margin: 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container{
    flex: 1 1 45%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container{
    flex: 1 1 0;
  }
}
