/*
for publications:
red: #990000 #ffb3b3
blue: #007399 #ccf2ff
green: #1f7a1f #d6f5d6
*/

.container{
  border-style: solid;
  border-width: 1px 1px 1px 7px;;
  margin-top: .2rem;
  margin-bottom: .2rem;
  position: relative;
}

.journalclass {
  border-color: #990000;
}
.journalclass:hover{
  background-color: #ffb3b3;
}
.journalclass .icon{
  color: #990000;
}

.conferenceclass{
  border-color: #007399;
}
.conferenceclass:hover{
  background-color: #ccf2ff;
}
.conferenceclass .icon{
  color: #007399;
}

.bookclass{
  border-color: #1f7a1f;
}
.bookclass:hover{
  background-color: #d6f5d6;
}
.bookclass .icon{
  color: #1f7a1f;
}

.authors{
  font-weight: 700;
}

.icon {
  height: 1.4rem;
  width: 1.4rem;
  /* svg width and height don't work in firefox */
}

.displaynone{
  display: none;
}

.textcontainer{
  padding-left: .5rem;
  padding-right: .5rem;
  margin-right: 1.4rem;
}

.iconcontainer{
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  /* bottom: 0; */
}

.aclass {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  /* color: black;
  height: 4rem; */
}
/* div{
  margin: 0;
} */
