/*
for publications:
red: #990000 #ffb3b3
blue: #007399 #ccf2ff
green: #1f7a1f #d6f5d6
*/

.container{
  /* border-left: 5px solid; */
  border-style: solid;
  border-width: 1px 1px 1px 5px;;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-top: .2rem;
  margin-bottom: .2rem;
  position: relative;
  min-height: 3.2rem;
}

.journalclass {
  border-color: #990000;
}
.journalclass:hover{
  background-color: #ffb3b3;
}

.conferenceclass{
  border-color: #007399;
}
.conferenceclass:hover{
  background-color: #ccf2ff;
}

.bookclass{
  border-color: #1f7a1f;
}
.bookclass:hover{
  background-color: #d6f5d6;
}

.authors{
  font-weight: 700;
}

/* .reference{
  font-weight: 700;
} */

.icon {
  /* position:absolute; */
  /* right: 0; */
  vertical-align: middle;
  margin: .1rem;
  height: 1.4rem;
  width: 1.4rem;
  /* svg width and height don't work in firefox */
}

.displaynone{
  display: none;
}

.textcontainer{
  margin-right: 2rem;
}

.iconcontainer{
  position: absolute;
  right: .1rem;
  top: 0;
  /* bottom: 0; */
}
/* div{
  margin: 0;
} */
