/*
for publications:
red: #990000 #ffb3b3
blue: #007399 #ccf2ff
green: #1f7a1f #d6f5d6
*/

.container{
  border-style: solid;
  border-width: 0px 0px 0px 7px;
  margin-top: .8rem;
  margin-bottom: .8rem;
  position: relative;
  /* background-color: #f2f2f2; */
}

.journalclass {
  border-color: #990000;
}
.journalclass .icon{
  color: #990000;
}

.conferenceclass{
  border-color: #007399;
}
.conferenceclass .icon{
  color: #007399;
}

.bookclass{
  border-color: #1f7a1f;
}
.bookclass .icon{
  color: #1f7a1f;
}

/* .authors{
  font-weight: 700; 
} */

.title{
  /* color: #002145; */
  font-weight: bold; 
}

.reference{
  font-style: italic;
}

.icon {
  height: 1.4rem;
  width: 1.4rem;
  /* svg width and height don't work in firefox */
}

.displaynone{
  display: none;
}

.textcontainer{
  padding-left: .5rem;
  padding-right: .5rem;
  /*margin-right: 1.4rem;*/
}
/*
.iconcontainer{
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
*/
/*
.aclass {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  color: black;
  height: 4rem;
}
*/
/* div{
  margin: 0;
} */
a {
 color: #3399ff;
}
