.container {
   transition: opacity 2s;
   width: 100%;

}

.navcontainer {
  width: 100%;
  z-index: 10;

}

.container_inner{
  max-width: 1280px;
  height: 102px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: grey solid 1px;
  background-color: white;
  opacity: 0.95;
  box-shadow: 0 2px 3px -2px black;
  display: block;
  position: relative;
}

.navdiv {
  display: none;
  flex: 1 1 0;

}
.titlediv {
  color: #007096;
  position: absolute;
  top: 25px;
  height: 52px;
}
.titlediv h1{
  margin: 0;
  line-height: 1;
  font-size: 1.75rem;
}
.titlediv p{
  margin: 0;
  line-height: 1;
}

/* The sticky class is added to the navbar when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navdiv {
    /* flex: 1 1 0; */
    display: flex;
  }
  .titlediv {
    position: static;
    margin-top: 1rem;
  }
  .container_inner{
    height: auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container_inner{
    display: flex;
  }
  .titlediv {
    flex: 0 1 1;
    height: 55px;
    align-self: flex-end;
    margin-bottom: .25rem;
    margin-right: 1rem;
    min-width: 235px;
  }
}
