.container {
   transition: opacity 2s;
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 10;
   background-color: #F8F8F8;
   border-bottom: grey solid 1px;
   box-shadow: 0 2px 3px -2px black;
   opacity: 0.95;
}

.container_inner{
  max-width: 1280px;
  margin: auto;
  height: 102px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: block;
  position: relative;
}

.navdiv {
  position:relative;
  display: none;
  flex: 1 1 0;

}
.titlediv {
  color: #007096;
  position: absolute;
  top: 25px;
  height: 52px;
}
.titlediv h1{
  margin: 0;
  line-height: 1;
  font-size: 1.75rem;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.titlediv p{
  margin: 0;
  line-height: 1;
}

/*===== Title colors =====*/
.title_letter1{
  color: #ff0000;
}
.title_letter2{
  color: #00BFFF;
}
.title_letter3{
  color: #8000ff;
}
.title_letter4{
  color: #009900;
}
.title_letter5{
  color: #F4B400;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navdiv {
    /* flex: 1 1 0; */
    display: flex;
    position: absolute;
    top: 77px;
  }
  .titlediv {
    position: static;
    padding-top: 1rem;
    height: 55px;
  }
  .container_inner{
    height: 119px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 860px) {
  .container_inner{
    display: flex;
    height: auto;
  }
  .navdiv {
    position: static;
    flex: 1 1 0;
    display: flex;

    /* position: absolute;
    top: 77px; */
  }
  .titlediv {
    flex: 0 1 1;
    height: 55px;
    align-self: flex-end;
    margin-bottom: .25rem;
    margin-right: 1rem;
    margin-top: 1rem;
    min-width: 235px;
    padding-top: 0;
  }
}
