.container {
  background-color: silver;
  /* border-radius: .3rem; */
  overflow: hidden;
  /* margin: .5rem; */
  flex: 1 1 100%;
}
.image{
  border-radius: .5rem;
}
.text {
  padding: .5rem;
}
.text h2{
  margin: 0;
}
.title{
  font-size: .8rem;
  color: dimgray;
  line-height: 1.1rem;
  margin-bottom: .5rem;
}
.text p{
  margin: 0rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container{
    flex: 1 1 0;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
