.container {

   padding-top: 102px;
   padding-bottom: 4.25rem;
   max-width: 1280px;
   margin: auto;

   /* background-color: #e0f2ff; */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    padding-top: 119px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 860px) {
  .container {
    padding-top: 78px;
  }
}
