.container {
  /* background-color: silver; */
  /* border-radius: .3rem; */
  overflow: hidden;
  border: white 1px solid;

  filter: gray;
  -webkit-filter: grayscale(1);
}
.container:hover{
  border: #A6192E 1px solid;
  filter: none;
  -webkit-filter: grayscale(0);
}
.image {
  /* background-color: #777; */
  padding-left: 2rem;
  padding-right: 2rem;

}
.image img{

}
.text {
  padding: .5rem;
  text-align: center;
}
.text h3{
  margin: 0;
}
.title{
  font-size: .8rem;
  color: dimgray;
  line-height: 1.1rem;
  margin-bottom: .5rem;
}
.icon {
  vertical-align: middle;
  margin: .25rem;
  /* height: 3rem; */
}
/* .iconstyle {
  height: 2rem;
  color: red;
} */
.displaynone{
  display: none;
}
