.container {
  overflow: hidden;
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  position: relative;
}
.cell {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.aclass{
  display: block;
  margin: .5rem;
}
.image {
  padding-left: .5rem;
  padding-right: .5rem;

}

.text {
  padding: .5rem;
  text-align: center;
}
.text h3{
  margin: 0;
}
