.container{
  line-height: 1.2;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}
/* .container:last-of-type{
  margin-bottom: 3rem;
} */

.title{
  color: #002145;
}

.authors {
  font-weight: bold;
}
