.container{
  margin-top: 1rem;
  /* background-color: #7A161d; */
}
.flexcont{
  display: flex;
  flex-flow: row wrap;
}
.text{
  flex: 1 1 0;
  display: none;
}
.paperstack{
  flex: 4 1 0;
}
.more{
  text-align: right;

}
.more small{
  margin: 0;
  line-height: 1;
  color: black;
}
