.container {
  overflow: hidden;
  margin: 1rem;
  /* border: 1px solid #777;
  border-bottom: 4px solid #777; */
}
.top_container {
  display: flex;
}
/*
.container:not(:last-child) {
  margin-bottom: 1rem;
}*/
.left_container{
  max-width: 200px;
  min-width: 100px;
  flex: 1 1 0;
}
.right_container{
  flex: 1 1 0;
  background: #777;
}

.info_right {
  padding: 1rem;
  /*background: #777;
  height: 100%;*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.info_right h2{
  margin: 0;
  color: white;
}
.info_right_1{
  padding: 0 0 .5rem 0;
}
.info_right_2{
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px 0 0 0;
  padding: .5rem 0 0 0;
}
.bio_right{
  display: none;
}

.title{
  font-size: .8rem;
  color: #F8F8F8;
  line-height: 1.1rem;
  margin: 0;
}
.bio_bottom {
  padding: .5rem 0 0 0;
}
.bio_bottom p{
  margin: 0;
}
.image{
  background-color: #777;
}
.image img{
  margin: 0;
}

.links{
  display: block;
  line-height: 1.6;
  font-size: .8rem;
  color: lightgrey;
  /* text-align: right; */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .left_container{
    flex: 0 1 1;
  }
  .right_container {
    background: none;
  }
  .info_right{
    display:flex;
    height: auto;
    position: static;
    transform: none;
    background: #777;
  }
  .info_right_1{
    flex: 3 1 0;
    padding: 0;
  }
  .info_right_2{
    flex: 1 1 0;
    border-width: 0 0 0 1px;
    padding: 0 0 0 .5rem;
  }
  .info_bottom{
    display:none;
  }
  .image{
    min-width: 150px;
  }
  .bio_right{
    display: block;
    padding: 1rem;
  }
  .bio_right p{
    margin: 0;
  }
  

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
