.container {
  background-color: silver;
  border-radius: .3rem;
  overflow: hidden;
  /* margin: .5rem;
  flex: 1 1 100%; */
  /* display: flex; */
}
.info_container{
  display: flex;
}
.bio_container{
  padding: .5rem;
}
.image{
  flex: 1 1 0;

}
.info_text {
  padding: .5rem;
  flex: 2 1 0;
}
.info_text h2{
  margin: 0;
}
.title{
  font-size: .8rem;
  color: dimgray;
  line-height: 1.1rem;
  margin-bottom: .5rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    display: flex;
  }
  .info_container{
    display: block;
    flex: 0 1 1;
    max-width: 200px;
  }
  .bio_container{
    flex: 1 1 0;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
