.container {
  overflow: hidden;
  display: flex;
  /* border: 1px solid #777;
  border-bottom: 4px solid #777; */
}
.container:not(:last-child) {
  margin-bottom: .5rem;
}
.left_container{
  max-width: 200px;
  flex: 0 1 1;
}
.right_container{
  flex: 1 1 0;
}

.info_left, .info_right {
  padding: .5rem;
  background: #777;
}
.info_left h2, .info_right h2{
  margin: 0;
  color: white;
}
.info_left h2{
  font-size: 1.1rem;
}
.info_right{
  display: none;
}
.title{
  font-size: .8rem;
  color: #F8F8F8;
  line-height: 1.1rem;
  margin: 0;
}
.bio{
  padding: .5rem;
}
.bio p{
  margin: 0;
}
.image{
  background-color: #777;
}
.image img{
  margin: 0;
}

.info_left_1{
  padding-bottom: .5rem;
}

.info_left_2{
  border-top: 1px solid lightgrey;
  padding-top: .5rem;
}

.links{
  display: block;
  line-height: 1.6;
  font-size: .8rem;
  color: lightgrey;
  /* text-align: right; */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .info_right{
    display:flex;
  }
  .info_right_1{
    flex: 3 1 0;
  }
  .info_right_2{
    flex: 1 1 0;
    border-left: 1px solid lightgrey;
    padding-left: .5rem;
  }
  .info_left{
    display:none;
  }
  .image{
    min-width: 200px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
